#a-box {
  width: 480px;
  height: 75px;
  background-color: rgb(20, 108, 184);
}

#b-box {
  width: 480px;
  height: 150px;
  background-color: aqua;
}

#c-box {
  width: 480px;
  height: 125px;
  background-color: aquamarine;
}

#d-box {
  width: 480px;
  height: 125px;
  background-color: rgb(43, 152, 74);
}

#e-box {
  width: 240px;
  height: 250px;
  background-color: blue;
}

 #f-box {
  width: 240px;
  height: 250px;
  background-color: blueviolet;
}

#g-box {
  width: 240px;
  height: 250px;
  background-color: blanchedalmond;
}

#h-box {
  width: 240px;
  height: 250px;
  background-color: black;
}

#i-box {
  width: 480px;
  height: 80px;
  background-color: brown;
}

#cd-container{
  width: 480px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}

#efgh-container {
  width: 480px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media(min-width: 768px){
  * {
      width: 960px;
      margin: 0 auto;
  }
  
  #efgh-container {
    width: 760px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #cd-container {
    width: 760px;
    height: 200px;
    display: flex;
  }

  #a-box {
      width: 960px;
      height: 100px;
      background-color: rgb(247, 18, 205);
  }

  #b-box {
      width: 200px;
      height: 600px;
      background-color: rgb(20, 120, 45);
      float: left;  
  }

  #c-box {
    width: 380px;
    height: 200px;
    background-color: rgb(14, 235, 29);
  }

  #d-box{
    width: 380px;
    height: 200px;
    background-color: rgb(143, 164, 25);
  }

  #e-box{
    width: 190px;
    height: 250px;
    background-color: rgb(131, 130, 132);
  }

  #f-box{
    width: 190px;
    height: 250px;
    background-color: rgb(101, 71, 220);
  }

  #g-box {
    width: 190px;
    height: 250px;
    background-color: rgb(165, 92, 35);
  }

  #h-box {
    width: 190px;
    height: 250px;
    background-color: rgb(206, 60, 145);
  }

  #i-box {
    width: 760px;
    height: 150px;
    background-color: rgb(253, 129, 113);
    float: left;   
  }
}